<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
   
    <table class="body header-color">
        <tr>
            <td>
               <spacer size="40"></spacer>
                <center>
                    <container class="no-bg">
                        <row>
                            <columns large="6" small="12">
                                <p class="logo small-text-center">FreebiesGallery</p>
                            </columns>
                            <columns large="6" small="12">
                                <p class="text-right small-text-center"><a href="!#" class="link-text">Go to Website</a></p>
                            </columns>
                        </row>
                    </container>
                </center>
                <spacer size="80"></spacer>
                <center>
                    <container class="no-bg">
                        <row>
                            <columns large="12">
                                <p class="big-text">
                                    Professonal websites
                                </p>
                                <spacer size="25"></spacer>
                                <p class="ExtraBig-text">
                                    In Just $299
                                </p>
                            </columns>
                        </row>
                    </container>
                    <spacer size="50"></spacer>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <center>
                                        <img src="https://s8.hostingkartinok.com/uploads/images/2017/08/10efbc431153bc31e27f01a22efad162.png" alt="" style="margin: -10px auto">
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </table>
    <table class="body">
        <tr>
            <td>
               <spacer size="60"></spacer>
                <center>
                    <container class="no-bg">
                        <row>
                            <columns large="12">
                                <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero, eligendi sunt. Iste id expedita, at ullam obcaecati neque rerum! consectetur adipisicing elit</p>
                            </columns>
                            <spacer size="47"></spacer>
                            <center>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="btn">
                                                Create a Website Now
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <spacer size="80"></spacer>
                            </center>
                        </row>
                    </container>
                    
                </center>
            </td>
        </tr>
    </table>
    
    <table class="body">
        <tr>
            <td>
                <center>
                    <container class="no-bg">
                        <row>
                            <columns large="6" small="12">
                                <p class="content-title small-text-center">Easy Setup Wizard</p>
                                <p class="content-descript small-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident</p>
                                <spacer size="48"></spacer>
                                <p class="content-title small-text-center">Easy Setup Wizard</p>
                                <p class="content-descript small-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident</p>
                            </columns>
                            <columns large="6" small="12">
                                <center>
                                    <img src="https://s8.hostingkartinok.com/uploads/images/2017/08/c0cfbe2a0683e450c5b30b0dc85430d2.png" alt="">
                                </center>
                            </columns>  
                        </row>
                    </container>
                    <spacer size="80"></spacer>
                    <container>
                        <row>
                            <columns large="6" small="12">
                               <center>
                                    <img src="https://s8.hostingkartinok.com/uploads/images/2017/08/c0cfbe2a0683e450c5b30b0dc85430d2.png" alt="">
                                </center>
                            </columns>
                            <columns large="6" small="12" class="col-style">
                                <p class="content-title small-text-center pd-box">Photo Gallery</p>
                                <p class="content-descript small-text-center pd-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident</p>
                                <spacer size="48"></spacer>
                                <p class="content-title small-text-center pd-box">Menu Editor</p>
                                <p class="content-descript small-text-center pd-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident</p>
                                
                            </columns>
                        </row>
                    </container>
                    <spacer size="80"></spacer>
                </center>
            </td>
        </tr>
    </table>
    
    <table class="body content-color">
        <tr>
            <td>
                <center>
                    <container class="no-bg">
                       <spacer size="60"></spacer>
                        <row>
                            <columns large="6">
                                <p class="quick">quick & easy</p>
                                <p class="quickText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum</p>
                            </columns>
                            <columns large="6">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="btn quickBtn">
                                                Create a Website Now
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </columns>
                            <spacer size="20"></spacer>
                        </row>
                    </container>
                </center>
            </td>
        </tr>
    </table>
    
    <table class="body">
        <tr>
            <td>
                <center>
                  <spacer size="80"></spacer>
                   <container class="no-bg">
                       <row>
                           <columns large="12">
                               <center>
                                   <p class="footer-title">There are 29,364 Happy Website Owners!</p>
                                   <p class="footer-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante urna, placerat eu euismod dictum, aliquam et sapien. Ut at risus commodo, eleifend sem cursus, interdum velit.”</p>
                               </center>
                           </columns>
                       </row>
                   </container>
                   <spacer size="60"></spacer> 
                </center>
            </td>
        </tr>
    </table>
    
    <table class="body footer-color">
        <tr>
            <td>
                <center>
                  <spacer size="60"></spacer> 
                   <container class="no-bg">
                       <row>
                          <columns large="6" small="12" class="copy">
                            <p class="small-text-center">Don't want to receive anymore emails?</p>
                            <p class="small-text-center">Freebiesgallery San Francisco, CA 94307</p>
                            <p class="small-text-center">© Copyright 2017. All rights reserved.</p>
                          </columns>
                          <columns large="6" class="social">
                           <center>
                                <a href="#"><img src="https://s8.hostingkartinok.com/uploads/images/2017/08/51f6c5e80e715bd3fada38d9436a533c.png" alt=""></a>
                                <a href="#"><img src="https://s8.hostingkartinok.com/uploads/images/2017/08/7632d1eba1e54444b0a350c60c264958.png" alt=""></a>
                                <a href="#"><img src="https://s8.hostingkartinok.com/uploads/images/2017/08/6124bf5c596b8765f296ded604bd1650.png" alt=""></a>
                            </center>    
                          </columns>
                       </row>
                   </container>
                   <spacer size="20"></spacer>  
                </center>
            </td>
        </tr>
    </table>
    
</body>
</html>